#signup body {
    font-family: Arial, Helvetica, sans-serif;
}

#signup * {
    box-sizing: border-box;
}


#signup [type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


    #signup [type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }


#signup button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}


<!-- mila -->
#signup button:hover {
    opacity: 1;
}


#signup .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


#signup .cancelbtn {
    float: left;
    width: 50%;
}


#signup .container {
    padding: 16px;
}


#signup .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}


#signup .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 90%;
}


#signup hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


#signup .clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
