/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, form {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 71px;
    padding: 0 20px;
    width: 100%;
}

.Logo {
    width: 105px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .Logo img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

.nav {
    position: absolute;
    transform: translateX(-50%);
    height: 71px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: gray;
    }

.search, .login, .cart {
    height: 28px;
    width: 30px;
}

.textbox {
    border-radius: 60px;
    outline: none;
    font-size: 12px;
    text-align: center;
    height: 30px;
}

/* Banner / Top text (optional) */
.catcher {
    background-color: rgb(3, 104, 135);
    color: white;
    text-align: center;
    padding: 18px;
    width: 100%;
}

    .catcher p {
        margin: 0;
    }

/* Footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    font-family: sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-column {
    flex: 1;
    min-width: 220px;
}

    .footer-column h5 {
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    .footer-column p {
        margin: 6px 0;
    }

    .footer-column a {
        color: #fff;
        text-decoration: none;
        font-size: 0.95em;
    }

        .footer-column a:hover {
            text-decoration: underline;
        }

.subscribe-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

    .subscribe-form input[type="email"] {
        padding: 10px;
        border: 2px solid white;
        background-color: black;
        color: white;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 0.95em;
    }

    .subscribe-form input::placeholder {
        color: white;
        opacity: 0.7;
    }

    .subscribe-form button {
        padding: 10px;
        background-color: white;
        color: black;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s;
    }

 .subscribe-form button:hover {
  background-color: #e1e1e1;
}

.footer-top-logo img {
    height: 50px;
}

.footer-divider {
    width: 100%;
    border: none;
    border-top: 1px solid white;
    margin: 10px 0 20px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

}




#signup body {
    font-family: Arial, Helvetica, sans-serif;
}

#signup * {
    box-sizing: border-box;
}


#signup [type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    
#signup [type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }


#signup button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#signup button:hover {
        opacity: 1;
    }


#signup .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


#signup .cancelbtn {
    float: left;
    width: 50%;
}


#signup .container {
    padding: 16px;
}


#signup .modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
}


#signup .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 90%; 
}


#signup hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


#signup .clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}